
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>

<form method="get" action="/quizes">
	<input type="text"  name="search" placeholder="Buscar pregunta" />
	<input type="submit" value="Buscar" />
</form>

<h2>Lista de preguntas</h2>

<!-- tabla que lista las preguntas ordenadas por tipología -->
<table>
<%
  var tipo = null, i;
  for (i = 0; i < quizes.length; ++i) {
%>
    <% if (tipo != quizes[i].tipo) { %>
    <% tipo = quizes[i].tipo; %>
    <tr>
      <th>Tipo: <%= quizes[i].tipo %></th>
    </tr>
    <% } %>

    <!-- tabla que dibuja los botones de "editar" y "borrar" -->
    <tr>
    	<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    	<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
      	<td>
        	<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
          		<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
            	borrar
          	</button>
        	</form>
      	</td>
    </tr>
<% } %>
</table><p>
