<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<h2 style="color: red"><%= quiz.pregunta %> </h2><p>
	<input type="text" name="respuesta" autofocus=""/><br/>
	<input type="submit" value="Enviar">
	<a href="/quizes"><button type="button">Volver</button></a>
</form>

<br/><p><a href="/quizes/<%= quiz.id %>/comments/new"><button><b>Nuevo comentario</b></button></a></p>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments) { %>
	<%if(quiz.Comments[index].publicado || session.user){%>
		<p>- <%=quiz.Comments[index].texto%>
			<%if(session.user && !quiz.Comments[index].publicado){%>
				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
			<%}%>
		</p>
	<%}%>	
<% } %>