<h2 style="color: red">Estadísticas</h2><br />

<p>Preguntas: <%= totalQuizes %><br />
Comentarios: <%= totalComments %><br />
Comentarios por pregunta: <%= commentsByQuiz.toFixed(1) %><br />
Preguntas con comentarios: <%= quizesWithComments %><br />
Preguntas sin comentarios: <%= quizesWithoutComments %></p>